/*** Layers ***/
div.dashGettingStarted
{
	display: none;
}

div.wizard
{
    padding: 30px;
}

div.wizard div.buttons
{
	border-top: 1px solid #ccc;
	padding-top: 12px;
	height: 50px;
	margin-top: 20px;
}

div.wizard div.actionsContainer div.action
{
	height: 120px;
}

div.wizard div.action div.icon
{
	float: left;
	width: 85px;
}

div.wizard div.action div.text
{
	float: left;
	padding-top: 15px;	
	width: 700px;
}

div.wizard div.buttons div.message
{
	float: left;
	padding-left: 10px;
}

div.wizard div.buttons div.action
{
	float: left;
	padding-top: 12px;	
}

/*** Headers ***/

div.wizard h2
{
	font-size: 26px;
	font-weight: normal;
	color: #666666;
	border-bottom: 1px solid #ccc;
	line-height: 140%;
	margin-bottom: 30px;
}

/*** Links ***/

 div.actionsContainer div.action a
{
	font-size: 24px;
	color: blue;
	text-decoration: underline;	
}

div.wizard div.buttons a.closeActionEn
{
	background: url(../../images/wizard/done.gif);
	padding-left: 118px;                    
	padding-top: 22px;
}

div.wizard div.buttons a.closeActionEs
{
	background: url(../../images/wizard/cerrar.gif);
	padding-left: 118px;                    
	padding-top: 22px;
}

/*** Texts ***/

div.wizard p.intro
{
	padding: 0 20px 35px 20px;
	font-size: 18px;
	color: #666666;
}

div.wizard div.action p
{
	font-size: 12px;
}

div.wizard div.buttons div.message p
{
	font-size: 12px;
}
